/*Horizontal nav bar (add drop down menus here)*/

html{
	height: 100%;
}

body{
	padding: 0px;
	margin: 0px;
	background: #6B341B;
	height: 100%;
}

body img{
	width: 100%;
}

h1{
	margin: 0;
}

h3{
	margin: 0;
	color: white;
}

a{
	text-decoration: none;
	color: white;
}

.top-links{
	margin-left: 1%;
}

.top-links-sec {
	white-space: nowrap;
	padding-right: 30px;
	font-family: Verdana;
	font-size: 16px;
	height: 50%;
	margin-left: 2%;
	margin-top: 3%;
}

.sources{
	color: black;
	margin-left: 18%;
}

.secondary{
	margin-left: 6%;
	padding-left: 12%;
}

#top-links{
	text-align: right;
}

#nav-bar{
    background: #6B341B;
	width: 100%;
	height: 12%;
	color: white;
	display: flex;
}

#nav-bar ul{
	width: 70%;
	position: relative;
	right: 0;
	margin-right: 8%;
	padding-top: 1%;
}

#nav-bar li{
    font-family: Verdana;
	font-size: 20px;
    list-style-type: none;
    padding-left: 4%;
	padding-top: 1%;
	display: inline;
}

#nav-bar a{
	color: white;
    text-decoration: none;
}

#nav-bar a:hover{
	color: grey;
}

#logo{
	width: 180px;
	margin-right: ;
	margin-left: 5%;
}

#main-content{
	position: relative;
	color: white;
	font-size: 110px;
	font-weight: bold;
}

#overlay-text{
	position: absolute;
	bottom: 30%;
	left: 75%;
}

#main-footer{
	display: flex;
	background: #6B341B;
	margin: 0px;
	color: white;
}

#main-footer a{
	color: white;
	text-decoration: none;
}

#main-footer a:hover{
	color: grey;
}

#main-footer div{
	width: 30%;
	height: 5%;
	margin-left: 5%;
	position: relative;
	bottom: 10%;
}

#mid-footer{
	width: 30%;
	height: 5%;
	margin-left: 5%;
	margin-top: 1.4%;
}

#small-headers{
	margin-left: 10%;
	padding-top: 2%;
	width: 80%;
	text-align: center;
}

#small-headers h3{
	display: inline;
}

#small-headers a{
	margin-left: 4%;
}

#main-block{
	width: 80%;
	height: 110%;
	background-color: white;
	margin-left: 10%;
	position: absolute;
	top: 15%;
}

#main-block h1{
	text-align: center;
	padding-top: 4%;
}

#main-block h2{
	text-align: center;
}

#main-block p{
	margin-left: 4%;
	margin-right: 4%;
	padding-left: 12%;
	padding-right: 12%;
}

#main-block ul{
	margin-right: 4%;
	padding-right: 12%;
}

#main-block ol{
	margin-left: 6%;
	margin-right: 4%;
	padding-left: 12%;
	padding-right: 12%;
}