/*Horizontal nav bar (add drop down menus here)*/

body{
	padding: 0px;
	margin: 0px;
	background: #6B341B;
}

img{
	width: 100%;
}

h1{
	margin: 0;
}

#title{
	font-size: 30px;
}

.top-links{
	margin-left: 6%;
}

#nav-bar{
    background: #6B341B;
	width: 100%;
	height: 80px;
	color: white;
}

#nav-bar li{
    font-family: Verdana;
    font-style: bold;
    list-style-type: none;
    display: inline-block;
    padding-left: 55px;
	padding-top: 10px;
}

#nav-bar a{
	color: white;
    text-decoration: none;
    padding: 2px;
}

#nav-bar a:hover{
	color: grey;
}

#main-content{

}

#main-footer{
	display: flex;
	background: #6B341B;
	margin: 0px;
	position: relative;
	top: -4px;
	color: white;
}

#left-footer{
	width: 30%;
	height: 100px;
	margin-left: 35px;
}

#mid-footer{
	width: 30%;
	height: 100px;
	margin-left: 35px;
}

#right-footer{
	width: 30%;
	height: 100px;
	margin-left: 35px;
}